<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="my_db"
      connectionString="Data Source=DESKTOP-CH\SQLEXPRESS;Initial Catalog=my_db;Integrated Security=True"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookCardIndexService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBookCardIndexService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/BookCardIndexService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookCardIndexService"
                contract="ServiceReference1.IBookCardIndexService" name="BasicHttpBinding_IBookCardIndexService" />
            <endpoint address="net.tcp://localhost:8091/BookCardIndexService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBookCardIndexService"
                contract="ServiceReference1.IBookCardIndexService" name="NetTcpBinding_IBookCardIndexService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>